# Data Engineering Capstone Project

*Udacity Project for Data Engineer Nanodegree*

##  Project Summary
***
The objective of this project is to create an ETL pipeline using the data of I94 immigration data and city temperature data to create anaytic database 

The project follows the follow steps:

Step 1: Scope the Project and Gather Data
Step 2: Explore and Assess the Data
Step 3: Define the Data Model
Step 4: Run ETL to Model the Data
Step 5: Complete Project Write Up

In [1]:
import configparser
from datetime import datetime,timedelta
import os
from pyspark.sql import SparkSession
from pyspark.sql.types import *
import pandas as pd
import psycopg2
import re
from collections import defaultdict
from pyspark.sql.functions import udf

## Step 1: Scope the Project and Gather Data

## Scope
This projects aims to perform exploratory data analysis on the US I94 immigration,demographics and temperature to create anaytic database.

## I94 Immigration Data
This data comes from the US National Tourism and Trade Office. A data dictionary is included in the workspace. This is where the data comes from. There's a sample file so you can take a look at the data in csv format before reading it all in. You do not have to use the entire dataset, just use what you need to accomplish the goal you set at the beginning of the project.

In [2]:
#Build spark session
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11").enableHiveSupport().getOrCreate()

In [3]:
# Read in the data
path='../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
immigration1_df =spark.read.format("path").option("header","true").option("inferSchema","true").load(path)

In [4]:
# display the first ten records
immigration1_df.show(10)

+-------+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
|    _c0|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|         admnum|fltno|visatype|
+-------+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
|2027561|4084316.0|2016.0|   4.0| 209.0| 209.0|    HHW|20566.0|    1.0|     HI|20573.0|  61.0|    2.0|  1.0|20160422|    null| null|      G|      O|   null|      M| 1955.0|07202016|     F|  null|     JL|5.6582674633E10|00782|      WT|
|2171295|4422636.0|2016.0|   4.0| 582.0| 582.0|    MCA|20567.0|    1.0|     TX|20568.0|  26.0|    2.0|  1.0|20160423|     MTR| null|      G|      R|   null|      M| 1990.0|10222016|     M|  null|    *GA| 9.436199593E10|XBLNG|      B2|
| 589494|1195600.0|2016.0|   4.0| 148.0| 112.0|    OGG|20551.0|    1.0|     FL|20571.0|  76.0|    2.0|  1.0|20160407|    null| null|      G|      O|   null|      M| 1940.0|07052016|     M|  null|     LH|5.5780468433E10|00464|      WT|
|2631158|5291768.0|2016.0|   4.0| 297.0| 297.0|    LOS|20572.0|    1.0|     CA|20581.0|  25.0|    2.0|  1.0|20160428|     DOH| null|      G|      O|   null|      M| 1991.0|10272016|     M|  null|     QR| 9.478969603E10|00739|      B2|
|3032257| 985523.0|2016.0|   4.0| 111.0| 111.0|    CHM|20550.0|    3.0|     NY|20553.0|  19.0|    2.0|  1.0|20160406|    null| null|      Z|      K|   null|      M| 1997.0|07042016|     F|  null|   null|4.2322572633E10| LAND|      WT|
| 721257|1481650.0|2016.0|   4.0| 577.0| 577.0|    ATL|20552.0|    1.0|     GA|20606.0|  51.0|    2.0|  1.0|20160408|    null| null|      T|      N|   null|      M| 1965.0|10072016|     M|  null|     DL|   7.36852585E8|  910|      B2|
|1072780|2197173.0|2016.0|   4.0| 245.0| 245.0|    SFR|20556.0|    1.0|     CA|20635.0|  48.0|    2.0|  1.0|20160412|    null| null|      T|      O|   null|      M| 1968.0|10112016|     F|  null|     CX|   7.86312185E8|  870|      B2|
| 112205| 232708.0|2016.0|   4.0| 113.0| 135.0|    NYC|20546.0|    1.0|     NY|20554.0|  33.0|    2.0|  1.0|20160402|    null| null|      G|      O|   null|      M| 1983.0|06302016|     F|  null|     BA|5.5474485033E10|00117|      WT|
|2577162|5227851.0|2016.0|   4.0| 131.0| 131.0|    CHI|20572.0|    1.0|     IL|20575.0|  39.0|    2.0|  1.0|20160428|    null| null|      O|      O|   null|      M| 1977.0|07262016|  null|  null|     LX|5.9413424733E10|00008|      WT|
|  10930|  13213.0|2016.0|   4.0| 116.0| 116.0|    LOS|20545.0|    1.0|     CA|20553.0|  35.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1981.0|06292016|  null|  null|     AA|5.5449792933E10|00109|      WT|
+-------+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
only showing top 10 rows

### World Temperature Data

This dataset came from Kaggle. You can read more about it here.https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

In [5]:
filename='../../data2/GlobalLandTemperaturesByCity.csv'
temperature_df =spark.read.format("filename").option("header","true").option("inferSchema","true").load(filename)

In [6]:
temperature_df.show(20)

+-------------------+-------------------+-----------------------------+-----+-------+--------+---------+
|                 dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+-------------------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01 00:00:00|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01 00:00:00|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-01-01 00:00:00|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-02-01 00:00:00|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-03-01 00:00:00|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01 00:00:00| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01 00:00:00|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01 00:00:00| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01 00:00:00|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-08-01 00:00:00|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01 00:00:00| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01 00:00:00|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01 00:00:00|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01 00:00:00|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01 00:00:00|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01 00:00:00|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01 00:00:00|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01 00:00:00|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1745-05-01 00:00:00|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1745-06-01 00:00:00|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
+-------------------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

In [7]:
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
df_temp = pd.read_csv(fname)

In [8]:
df_temp.head(20)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Århus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Århus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Århus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Århus,Denmark,57.05N,10.33E
9,1744-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
10,1744-09-01,12.781,1.454,Århus,Denmark,57.05N,10.33E
11,1744-10-01,7.950,1.630,Århus,Denmark,57.05N,10.33E
12,1744-11-01,4.639,1.302,Århus,Denmark,57.05N,10.33E
13,1744-12-01,0.122,1.756,Århus,Denmark,57.05N,10.33E
14,1745-01-01,-1.333,1.642,Århus,Denmark,57.05N,10.33E
15,1745-02-01,-2.732,1.358,Århus,Denmark,57.05N,10.33E
16,1745-03-01,0.129,1.088,Århus,Denmark,57.05N,10.33E
17,1745-04-01,4.042,1.138,Århus,Denmark,57.05N,10.33E
18,1745-05-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
19,1745-06-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [9]:
temp_us = df_temp[df_temp["Country"] == "United States"]
temp_us.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
47555,1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W
47556,1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W
47557,1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W
47558,1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W
47559,1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W

### U.S. City Demographic Data

This data comes from OpenSoft. You can read more about it here.

In [10]:
demog_df = pd.read_csv("./us-cities-demographics.csv", delimiter=";")

In [11]:
demog_df.head(20)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402
5,Peoria,Illinois,33.1,56229.0,62432.0,118661,6634.0,7517.0,2.40,IL,American Indian and Alaska Native,1343
6,Avondale,Arizona,29.1,38712.0,41971.0,80683,4815.0,8355.0,3.18,AZ,Black or African-American,11592
7,West Covina,California,39.8,51629.0,56860.0,108489,3800.0,37038.0,3.56,CA,Asian,32716
8,O'Fallon,Missouri,36.0,41762.0,43270.0,85032,5783.0,3269.0,2.77,MO,Hispanic or Latino,2583
9,High Point,North Carolina,35.5,51751.0,58077.0,109828,5204.0,16315.0,2.65,NC,Asian,11060
10,Folsom,California,40.9,41051.0,35317.0,76368,4187.0,13234.0,2.62,CA,Hispanic or Latino,5822
11,Folsom,California,40.9,41051.0,35317.0,76368,4187.0,13234.0,2.62,CA,American Indian and Alaska Native,998
12,Philadelphia,Pennsylvania,34.1,741270.0,826172.0,1567442,61995.0,205339.0,2.61,PA,Asian,122721
13,Wichita,Kansas,34.6,192354.0,197601.0,389955,23978.0,40270.0,2.56,KS,Hispanic or Latino,65162
14,Wichita,Kansas,34.6,192354.0,197601.0,389955,23978.0,40270.0,2.56,KS,American Indian and Alaska Native,8791
15,Fort Myers,Florida,37.3,36850.0,37165.0,74015,4312.0,15365.0,2.45,FL,White,50169
16,Pittsburgh,Pennsylvania,32.9,149690.0,154695.0,304385,17728.0,28187.0,2.13,PA,White,208863
17,Laredo,Texas,28.8,124305.0,131484.0,255789,4921.0,68427.0,3.66,TX,American Indian and Alaska Native,1253
18,Berkeley,California,32.5,60142.0,60829.0,120971,3736.0,25000.0,2.35,CA,Asian,27089
19,Santa Clara,California,35.2,63278.0,62938.0,126216,4426.0,52281.0,2.75,CA,White,55847

### Airport Code 
This is a simple table of airport codes and corresponding cities. It comes from here.

In [12]:
airport_df = pd.read_csv("airport-codes_csv.csv")

In [13]:
airport_df.head(20)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"
5,00AS,small_airport,Fulton Airport,1100.0,NaN,US,US-OK,Alex,00AS,NaN,00AS,"-97.8180194, 34.9428028"
6,00AZ,small_airport,Cordes Airport,3810.0,NaN,US,US-AZ,Cordes,00AZ,NaN,00AZ,"-112.16500091552734, 34.305599212646484"
7,00CA,small_airport,Goldstone /Gts/ Airport,3038.0,NaN,US,US-CA,Barstow,00CA,NaN,00CA,"-116.888000488, 35.350498199499995"
8,00CL,small_airport,Williams Ag Airport,87.0,NaN,US,US-CA,Biggs,00CL,NaN,00CL,"-121.763427, 39.427188"
9,00CN,heliport,Kitchen Creek Helibase Heliport,3350.0,NaN,US,US-CA,Pine Valley,00CN,NaN,00CN,"-116.4597417, 32.7273736"
10,00CO,closed,Cass Field,4830.0,NaN,US,US-CO,Briggsdale,NaN,NaN,NaN,"-104.344002, 40.622202"
11,00FA,small_airport,Grass Patch Airport,53.0,NaN,US,US-FL,Bushnell,00FA,NaN,00FA,"-82.21900177001953, 28.64550018310547"
12,00FD,heliport,Ringhaver Heliport,25.0,NaN,US,US-FL,Riverview,00FD,NaN,00FD,"-82.34539794921875, 28.846599578857422"
13,00FL,small_airport,River Oak Airport,35.0,NaN,US,US-FL,Okeechobee,00FL,NaN,00FL,"-80.96920013427734, 27.230899810791016"
14,00GA,small_airport,Lt World Airport,700.0,NaN,US,US-GA,Lithonia,00GA,NaN,00GA,"-84.06829833984375, 33.76750183105469"
15,00GE,heliport,Caffrey Heliport,957.0,NaN,US,US-GA,Hiram,00GE,NaN,00GE,"-84.73390197753906, 33.88420104980469"
16,00HI,heliport,Kaupulehu Heliport,43.0,NaN,US,US-HI,Kailua/Kona,00HI,NaN,00HI,"-155.980233, 19.832715"
17,00ID,small_airport,Delta Shores Airport,2064.0,NaN,US,US-ID,Clark Fork,00ID,NaN,00ID,"-116.21399688720703, 48.145301818847656"
18,00IG,small_airport,Goltl Airport,3359.0,NaN,US,US-KS,McDonald,00IG,NaN,00IG,"-101.395994, 39.724028"
19,00II,heliport,Bailey Generation Station Heliport,600.0,NaN,US,US-IN,Chesterton,00II,NaN,00II,"-87.122802734375, 41.644500732421875"

## Step 2: Explore and Assess the Data

### Explore the Data
Identify data quality issues, like missing values, duplicate data, etc

In [14]:
df_temp.describe()

       AverageTemperature  AverageTemperatureUncertainty
count        1.988429e+06                   1.988429e+06
mean         1.770804e+01                   1.033803e+00
std          9.987524e+00                   1.127493e+00
min         -3.493200e+01                   3.600000e-02
25%          1.189800e+01                   3.450000e-01
50%          2.006000e+01                   5.990000e-01
75%          2.560800e+01                   1.353000e+00
max          3.915600e+01                   1.539600e+01

In [15]:
temperature_df = spark.read.format("csv").option("header", "true").load(" .../../data2/GlobalLandTemperaturesByCity.csv")

In [16]:
temperature_df = temperature_df.filter(temperature_df.AverageTemperature != 'NaN')

In [19]:
temperature_df.show()

+-------------------+-------------------+-----------------------------+-----+-------+--------+---------+
|                 dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+-------------------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01 00:00:00|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01 00:00:00| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01 00:00:00|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01 00:00:00| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01 00:00:00|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01 00:00:00| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01 00:00:00|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01 00:00:00|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01 00:00:00|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01 00:00:00|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01 00:00:00|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01 00:00:00|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01 00:00:00|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1750-01-01 00:00:00|              1.699|                        1.013|Århus|Denmark|  57.05N|   10.33E|
|1750-02-01 00:00:00| 3.9610000000000003|           2.3609999999999998|Århus|Denmark|  57.05N|   10.33E|
|1750-03-01 00:00:00|              5.182|                         3.48|Århus|Denmark|  57.05N|   10.33E|
|1750-04-01 00:00:00|              7.197|                        0.732|Århus|Denmark|  57.05N|   10.33E|
|1750-05-01 00:00:00|             10.634|                        1.351|Århus|Denmark|  57.05N|   10.33E|
|1750-06-01 00:00:00|             14.913|                        1.181|Århus|Denmark|  57.05N|   10.33E|
|1750-07-01 00:00:00|             17.831|                         1.22|Århus|Denmark|  57.05N|   10.33E|
+-------------------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

In [20]:
with open("I94_SAS_Labels_Descriptions.SAS") as f:
    content = f.readlines()
content = [x.strip() for x in content]
ports = content[302:962]
splitted_ports = [port.split("=") for port in ports]
port_codes = [x[0].replace("'","").strip() for x in splitted_ports]
port_locations = [x[1].replace("'","").strip() for x in splitted_ports]
port_cities = [x.split(",")[0] for x in port_locations]
port_states = [x.split(",")[-1] for x in port_locations]
df_port_locations = pd.DataFrame({"port_code" : port_codes, "port_city": port_cities, "port_state": port_states})
df_port_locations.head(20)

   port_code                 port_city port_state
0        ALC                     ALCAN         AK
1        ANC                 ANCHORAGE         AK
2        BAR  BAKER AAF - BAKER ISLAND         AK
3        DAC             DALTONS CACHE         AK
4        PIZ    DEW STATION PT LAY DEW         AK
5        DTH              DUTCH HARBOR         AK
6        EGL                     EAGLE         AK
7        FRB                 FAIRBANKS         AK
8        HOM                     HOMER         AK
9        HYD                     HYDER         AK
10       JUN                    JUNEAU         AK
11       5KE                 KETCHIKAN         AK
12       KET                 KETCHIKAN         AK
13       MOS  MOSES POINT INTERMEDIATE         AK
14       NIK                   NIKISKI         AK
15       NOM                       NOM         AK
16       PKC               POKER CREEK         AK
17       ORI            PORT LIONS SPB         AK
18       SKA                   SKAGWAY         AK
19       SNP           ST. PAUL ISLAND         AK

In [26]:
path = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
immigration_df = pd.read_sas(i94_path, 'sas7bdat', encoding="ISO-8859-1")​path = 'immigration_data_sample.csv'

In [28]:
print(f"First port in SAS file: {df_port_locations['port_city'].values[0]}, last port {df_port_locations['port_city'].values[-1]}")
irregular_ports_df = df_port_locations[df_port_locations["port_city"] == df_port_locations["port_state"]]
irregular_ports = list(set(irregular_ports_df["port_code"].values))
print(irregular_ports)

First port in SAS file: ALCAN, last port No PORT Code (OSN)
['CXO', 'FRG', '888', 'XXX', 'ISP', 'CHN', 'JMZ', 'PCW', 'SCH', 'OTS', 'OGS', 'AMT', 'CLX', 'GAC', 'PLB', 'UNK', 'AG', 'NK', 'NC8', 'WTR', 'W55', '5T6', 'PHF', 'X96', 'ZZZ', 'MAA', 'WA5', 'DEC', 'JFA', 'SUS', 'WAS', 'NYL', 'A2A', 'LIT', '74S', 'JSJ', 'Y62', 'ASI', 'FTB', 'BUS', 'MAP', 'BKF', 'BCM', 'CPX', 'MTH', 'EGE', 'JIG', 'VMB', 'T01', 'PHN', 'CP', 'DRV', '060', 'OLM', 'HRL', 'AUH', 'NGL', 'AKT', 'TIW', 'DAY', 'GPI', 'IAG', 'GMT', 'SP0', 'XNA', 'STN', 'X44', 'ATW', 'YGF', '.GA', 'JBQ', 'FSC', 'ADU', 'PFN', 'OSN', 'OAI', 'RYY']

In [31]:
# drop all irregular ports from i94 data
print(f"i94 data contains {len(immg_df)} rows before cleaning.")
immigration_df_filtered = immg_df[~immigration_df["i94port"].isin(irregular_ports)]
print(f"i94 data contains {len(immg_df_filtered)} rows after")
immigration_df_filtered.drop(columns=["insnum", "entdepu", "occup", "visapost"], inplace=True)
_filtered.dropna(inplace=True)
print(f"i94 data contains {len(immg_df_filtered)} rows after removing NaN values.")

i94 data contains 1000 rows before cleaning.
i94 data contains 973 rows after
i94 data contains 735 rows after removing NaN values.

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
airport_df.dropna(subset=['iata_code'], inplace=True)
airport_df.head(20)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
223,03N,small_airport,Utirik Airport,4.0,OC,MH,MH-UTI,Utirik Island,K03N,UTK,03N,"169.852005, 11.222"
440,07FA,small_airport,Ocean Reef Club Airport,8.0,NaN,US,US-FL,Key Largo,07FA,OCA,07FA,"-80.274803161621, 25.325399398804"
594,0AK,small_airport,Pilot Station Airport,305.0,NaN,US,US-AK,Pilot Station,NaN,PQS,0AK,"-162.899994, 61.934601"
673,0CO2,small_airport,Crested Butte Airpark,8980.0,NaN,US,US-CO,Crested Butte,0CO2,CSE,0CO2,"-106.928341, 38.851918"
1088,0TE7,small_airport,LBJ Ranch Airport,1515.0,NaN,US,US-TX,Johnson City,0TE7,JCY,0TE7,"-98.62249755859999, 30.251800537100003"
1402,13MA,small_airport,Metropolitan Airport,418.0,NaN,US,US-MA,Palmer,13MA,PMX,13MA,"-72.31140136719999, 42.223300933800004"
1438,13Z,seaplane_base,Loring Seaplane Base,0.0,NaN,US,US-AK,Loring,13Z,WLR,13Z,"-131.636993408, 55.6012992859"
1555,16A,small_airport,Nunapitchuk Airport,12.0,NaN,US,US-AK,Nunapitchuk,PPIT,NUP,16A,"-162.440454, 60.905591"
1574,16K,seaplane_base,Port Alice Seaplane Base,0.0,NaN,US,US-AK,Port Alice,16K,PTC,16K,"-133.597, 55.803"
1722,19AK,small_airport,Icy Bay Airport,50.0,NaN,US,US-AK,Icy Bay,19AK,ICY,19AK,"-141.662002563, 59.96900177"
1758,19P,seaplane_base,Port Protection Seaplane Base,0.0,NaN,US,US-AK,Port Protection,19P,PPV,19P,"-133.61000061035, 56.328800201416"
1984,1KC,small_airport,Kalakaket Creek AS Airport,1598.0,NaN,US,US-AK,Kalakaket Creek,1KC,KKK,1KC,"-156.820392609, 64.4166256967"
2170,1O6,small_airport,Dunsmuir Muni-Mott Airport,3258.0,NaN,US,US-CA,Dunsmuir,KMHS,MHS,1O6,"-122.272003, 41.263199"
2383,1Z1,small_airport,Grand Canyon Bar Ten Airstrip,4100.0,NaN,US,US-AZ,Whitmore,NaN,GCT,1Z1,"-113.231003, 36.259701"
2384,1Z9,seaplane_base,Ellamar Seaplane Base,0.0,NaN,US,US-AK,Ellamar,NaN,ELW,1Z9,"-146.704038, 60.893818"
2968,2AK,small_airport,Lime Village Airport,552.0,NaN,US,US-AK,Lime Village,2AK,LVD,2AK,"-155.440002441, 61.3591003418"
2972,2AK3,heliport,Five Finger CG Heliport,48.0,NaN,US,US-AK,Five Finger,2AK3,FIV,2AK3,"-133.630996704, 57.26990127559999"
2975,2AK6,small_airport,Hog River Airport,534.0,NaN,US,US-AK,Hogatza,2AK6,HGZ,2AK6,"-155.6690063, 66.2161026"
3143,2IG4,small_airport,Ed-Air Airport,426.0,NaN,US,US-IN,Oaktown,I20,OTN,I20,"-87.4997024536, 38.851398468"
3195,2K5,small_airport,Telida Airport,650.0,NaN,US,US-AK,Telida,2K5,TLF,2K5,"-153.26899719238, 63.393901824951"

## Step 3: Define the Data Model

### 3.1 Conceptual Data Model

The FACT TABLE from the I94 immigration data. The columns below will be extracted from the I94 immigration data :

cicid,i94yr	,i94mon	,i94cit,i94res,	i94port,arrdate,i94mode	,i94addr,depdate,i94bir	,i94visa,count,	dtadfile,	visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum	fltno	visatype


DIMENSION TABLE
-Temperature dataframe:
AverageTemperature 
City 
Country 
Latitude
Longitude 

-Airport dataframe
iata_code,name ,type ,local_code ,coordinates,city

-Demographics dataframe
city - state - media_age - male_population - female_population - total_population - num_veterans - foreign_born - average_household_size - state_code - race - count


### 3.2 Mapping Out Data Pipelines

The pipeline steps are described below:
Create tables by executing create_tables.py.
Join city to airports data.
Insert data.

## Step 4: Run Pipelines to Model the Data

### 4.1 Create the data model

Build the data pipelines to create the data model.

In [42]:

# Extract columns for temperature dimension table
temp_table = df_temp.select(["AverageTemperature", "City", "Country", "Latitude", "Longitude", "i94port"])

# Write temperature dimension table to parquet files partitioned by i94port
temp_table.write.mode("append").partitionBy("i94port").parquet("/results/temperature.parquet")

In [43]:
for index, row in df_i94_filtered.iterrows():
    cur.execute(immigration_insert, list(row.values))
    conn.commit()

In [44]:
for index, row in df_demographics.iterrows():
    cur.execute(demographic_insert, list(row.values))
    conn.commit()

### 4.2 Data Quality Checks
The data quality check will ensure there are adequate number of entries in each table.

In [45]:
def quality_check(df, description):
    '''
    Input: Spark dataframe, description of Spark datafram

    '''
    
    result = df.count()
    if result == 0:
        print("Data quality check failed for {} with zero records".format(description))
    else:
        print("Data quality check passed for {} with {} records".format(description, result))
    return 0

# Perform data quality check
quality_check(immigration_df, "immigration table")
quality_check(df_temp, "temperature table")

Data quality check passed for immigration table with 3088544 records

### 4.3 Data dictionary
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

### Step 5: Complete Project Write Up

-Rationale for the choice of tools and technologies for the project
 Apache spark was used because of:
 it's ability to handle multiple file formats with large amounts of data.
 Apache Spark offers a lightning-fast unified analytics engine for big data.
 Spark has easy-to-use APIs for operating on large datasets
-Propose how often the data should be updated and why.
 The current I94 immigration data is updated monthly, and hence the data will be updated monthly.
-Write a description of how you would approach the problem differently under the following scenarios:
 The data was increased by 100x.
 Spark can handle the increase but we would consider increasing the number of nodes in our cluster.
 The data populates a dashboard that must be updated on a daily basis by 7am every day.
 In this scenario, Apache Airflow will be used to schedule and run data pipelines.
 The database needed to be accessed by 100+ people.
 In this scenario, we would move our analytics database into Amazon Redshift.